/*-- scss:defaults --*/



$headingColor: #2C3792;
$body-color: #2C3792;
$linkColor: #AB2493;


/*-- scss:rules --*/
.reveal .slide blockquote {
          border-left: 3px solid $text-muted;
          padding-left: 0.5em;
        }
/*-- c("#009FE3", "#124987", "#009B55","#F1AF00"--*/
